<div class="full-view">
  <eo-ng-feedback-alert
    *ngIf="authInfo.status && authInfo.status !== 'normal'"
    [nzType]="authInfo.status === 'waring' ? 'warning' : 'error'"
    nzMessage="节点数超出授权"
    [nzDescription]="
      authInfo.refer || '节点数超出授权，请尽快更新授权或减少节点到授权数量内'
    "
    nzShowIcon
  ></eo-ng-feedback-alert>
  <section class="m-auto mt-[20vh] w-max-[760px] flex flex-col items-center">
    <header class="flex flex-col items-center">
      <img
        class="m-auto"
        src="../../../../assets/apinto-auth.svg"
        width="45px"
        height="45px"
        alt="apinto"
      />
      <p class="text-[20px] font-bold leading-[29px] mt-[8px]">Apinto</p>
      <p class="font-medium">V{{ version }} ({{ updateDate }})</p>
    </header>
    <div
      class="flex flex-col items-center mt-[40px]"
      *ngIf="showActivationInfo; else showActivationStepTpl"
    >
      <p *ngFor="let info of authInfo.infos">
        <span class="font-bold">{{ info.key }}：</span>&nbsp;{{ info.value }}
      </p>

      <button
        class="mt-[30px]"
        eo-ng-button
        nzType="primary"
        (click)="showActivationInfo = false"
      >
        上传新授权文件
      </button>

      <p class="mt-[30px]">如需购买更多授权，请联系为您服务的客户支持人员</p>
    </div>

    <ng-template #showActivationStepTpl>
      <div class="flex flex-col items-center mt-[30px]">
        <p>1. 复制机器码并发送给 Apinto 客户支持人员</p>

        <div class="mt-btnbase flex items-center">
          <input
            class="mr10 h-[32px]"
            eo-ng-input
            [ngModel]="macCode"
            disabled="true"
          />
          <a
            eo-copy
            class="whitespace-nowrap ml-[8px]"
            copyType="click"
            [copyText]="macCode"
            (copyCallback)="copyCallback()"
          >
            复制
          </a>
        </div>
        <p class="mt-[26px]">2. 上传授权证书并激活</p>

        <div class="mt-btnbase">
          <nz-upload
            class="block"
            nzAction="_system/reactivation"
            nzName="authFile"
            [nzLimit]="1"
            [nzShowUploadList]="false"
            nzAccept=".cert"
            (nzChange)="onChange($event)"
          >
            <button eo-ng-button nzType="primary">上传</button>
          </nz-upload>
        </div>
        <div class="mt-[26px]">
          <button
            class="block"
            eo-ng-button
            (click)="showActivationInfo = true"
          >
            取消
          </button>
        </div>
      </div>
    </ng-template>
  </section>
</div>
