@eo-ng-table:registry=http://172.18.65.55:4873/eo-ng-table
@eo-ng-checkbox:registry=http://172.18.65.55:4873/eo-ng-checkbox
@eo-ng-input:registry=http://172.18.65.55:4873/eo-ng-input
@eo-ng-button:registry=http://172.18.65.55:4873/eo-ng-button
@eo-ng-select:registry=http://172.18.65.55:4873/eo-ng-select
@eo-ng-cascader:registry=http://172.18.65.55:4873/eo-ng-cascader
@eo-ng-switch:registry=http://172.18.65.55:4873/eo-ng-switch
@eo-ng-layout:registry=http://172.18.65.55:4873/eo-ng-layout
@eo-ng-menu:registry=http://172.18.65.55:4873/eo-ng-menu
@eo-ng-breadcrumb:registry=http://172.18.65.55:4873/eo-ng-breadcrumb
@eo-ng-radio:registry=http://172.18.65.55:4873/eo-ng-radio
@eo-ng-date-picker:registry=http://172.18.65.55:4873/eo-ng-date-picker
@eo-ng-dropdown:registry=http://172.18.65.55:4873/eo-ng-dropdown
@eo-ng-feedback:registry=http://172.18.65.55:4873/eo-ng-feedback
@eo-ng-tabs:registry=http://172.18.65.55:4873/eo-ng-tabs
@eo-ng-tree:registry=http://172.18.65.55:4873/eo-ng-tree