<!--
 * @Author: MengjieYang yangmengjie@eolink.com
 * @Date: 2022-07-20 00:02:55
 * @LastEditors: MengjieYang yangmengjie@eolink.com
 * @LastEditTime: 2022-07-29 02:44:37
 * @FilePath: /apinto/src/app/layout/basic-layout/basic-layout.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<eo-ng-layout>
  <eo-ng-header>
    <div class="logo">
      <img class="h-[26px]" src="../../../assets/apinto.svg" alt="apinto" />
      <a (click)="goToGithub()" class="flex item-center ml-[6px]"
        ><img
          src="https://img.shields.io/github/stars/eolinker/apinto?style=social"
          alt=""
        />
      </a>
    </div>
    <div class="flex h-[49px] items-center justify-between">
      <eo-ng-breadcrumb [nzOptions]="breadcrumbOptions"></eo-ng-breadcrumb>
      <button eo-ng-button class="mr-btnrbase">帮助文档</button>
    </div>
  </eo-ng-header>
  <eo-ng-layout class="total-content">
    <eo-ng-sider
      [nzInlineCollapsed]="false"
      [nzWidth]="195"
      [nzInlineIndent]="20"
      class="overflow-hidden block inside-menu-scroll"
    >
      <eo-ng-inline-menu
        [nzInlineIndent]="20"
        [nzOptions]="sideMenuOptions"
      ></eo-ng-inline-menu>
    </eo-ng-sider>
    <eo-ng-layout
      class="content-without-sider"
      [ngClass]="{ 'border-transparent': !showSideLine }"
    >
      <eo-ng-content>
        <ng-container *ngIf="!showEmpty; else emptyRef">
          <router-outlet></router-outlet>
        </ng-container>
        <ng-template #emptyRef>
          <eo-ng-empty
            class="no-access-empty"
            nzInputImage="../../../assets/no-access.svg
            "
            [nzNotFoundContent]="emptyTipRef"
          >
          </eo-ng-empty>
          <ng-template #emptyTipRef>
            <div class="mt-formtop">
              <p class="leading-[22px] text-MAIN_TEXT">暂无功能授权</p>
              <p class="mt-btnbase leading-[22px] text-red-400">请联系管理员</p>
            </div>
          </ng-template>
        </ng-template>
      </eo-ng-content>
    </eo-ng-layout>
  </eo-ng-layout>
</eo-ng-layout>
