<ng-template #redisTitleTpl
  ><p style="display: flex; align-items: center">
    <span
      eoNgFeedbackTooltip
      nzTooltipTitle="主要应用在API缓存和策略计数器"
      nzTooltipPlacement="top"
      [nzTooltipVisible]="false"
      nzTooltipTrigger="hover"
      class="title"
      >Redis配置</span
    >
    <span
      eoNgFeedbackTooltip
      nzTooltipTitle="仅支持cluster模式"
      nzTooltipPlacement="top"
      [nzTooltipVisible]="false"
      nzTooltipTrigger="hover"
      class="ml-[6px]"
      style="color: '#999999'"
      ><svg class="iconpark-icon"><use href="#attention"></use></svg>
    </span>
  </p>
</ng-template>

<ng-template #influxdbTitleTpl
  ><p style="display: flex; align-items: center">
    <span class="title">Influxdb配置</span>
    <span
      eoNgFeedbackTooltip
      nzTooltipTitle="用于存储监控告警数据"
      nzTooltipPlacement="top"
      [nzTooltipVisible]="false"
      nzTooltipTrigger="hover"
      class="ml-[6px]"
      style="color: '#999999'"
      ><svg class="iconpark-icon"><use href="#attention"></use></svg>
    </span>
  </p>
</ng-template>

<ng-template #switchRedisTpl let-item="item">
  <eo-ng-switch
    *ngIf="item?.enable !== null"
    [(ngModel)]="item.enable"
    (ngModelChange)="stopOrStart(item, 'redis')"
    (click)="$event.stopPropagation()"
    eoNgUserAccess="deploy/cluster"
    (disabledEdit)="disabledEdit($event)"
    [nzDisabled]="item.edit || nzDisabled"
  ></eo-ng-switch>
</ng-template>

<ng-template #switchInfluxdbTpl let-item="item">
  <eo-ng-switch
    *ngIf="item?.enable !== null"
    [(ngModel)]="item.enable"
    (ngModelChange)="stopOrStart(item, 'influxdbv2')"
    (click)="$event.stopPropagation()"
    eoNgUserAccess="deploy/cluster"
    (disabledEdit)="disabledEdit($event)"
    [nzDisabled]="item.edit || nzDisabled"
  ></eo-ng-switch>
</ng-template>

<ng-template #redisTestBtnTpl let-item="item">
  <div
    eoNgFeedbackTooltip
    [nzTooltipTitle]="
      item.data.addrs ? '测试' : '请输入地址、用户名及密码后进行测试'
    "
    nzTooltipPlacement="top"
    [nzTooltipVisible]="false"
    nzTooltipTrigger="hover"
  >
    <button
      class="eo-ng-table-btn ant-btn-text ant-btn"
      eoNgUserAccess="deploy/cluster"
      (click)="testAndSave(item.data, 'redis')"
      [disabled]="!item.data.addrs"
    >
      <svg class="iconpark-icon">
        <use href="#lightning"></use>
      </svg>
    </button>
  </div>
</ng-template>

<ng-template #influxdbTestBtnTpl let-item="item">
  <div
    eoNgFeedbackTooltip
    [nzTooltipTitle]="
      item.data.addrs ? '测试' : '请输入数据源地址、Organization后进行测试'
    "
    nzTooltipPlacement="top"
    [nzTooltipVisible]="false"
    nzTooltipTrigger="hover"
  >
    <button
      class="eo-ng-table-btn ant-btn-text ant-btn"
      eoNgUserAccess="deploy/cluster"
      (click)="testAndSave(item.data, 'influxdbv2')"
      [disabled]="!item.data.addr || !item.data.org"
    >
      <svg class="iconpark-icon">
        <use href="#lightning"></use>
      </svg>
    </button>
  </div>
</ng-template>
<nz-collapse class="mx-btnbase my-btnybase">
  <nz-collapse-panel [nzHeader]="redisTitleTpl" [nzActive]="redisExpand">
    <eo-ng-apinto-table
      *ngIf="redisExpand"
      [nzTbody]="redisTableBody"
      [nzThead]="redisTableHeadName"
      [(nzData)]="redisList"
      [nzScroll]="{ x: '860px' }"
      [nzCheckAddRow]="nzCheckAddRow"
    >
    </eo-ng-apinto-table>
    <div *ngIf="redisErrorTip" class="ant-form-item-with-help">
      <div class="ant-form-item-explain">
        <div
          role="alert"
          class="ant-form-item-explain-error"
          style="margin-left: var(--LAYOUT_PADDING)"
        >
          {{ redisErrorTip }}
        </div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<nz-collapse class="mx-btnbase">
  <nz-collapse-panel [nzHeader]="influxdbTitleTpl" [nzActive]="influxdbExpand">
    <eo-ng-apinto-table
      *ngIf="influxdbExpand"
      [nzTbody]="influxdbTableBody"
      [nzThead]="influxdbTableHeadName"
      [(nzData)]="influxdbList"
      [nzScroll]="{ x: '860px' }"
      [nzCheckAddRow]="nzCheckAddRow"
    >
    </eo-ng-apinto-table>
    <div *ngIf="influxdbErrorTip" class="ant-form-item-with-help">
      <div class="ant-form-item-explain">
        <div
          role="alert"
          class="ant-form-item-explain-error"
          style="margin-left: var(--LAYOUT_PADDING)"
        >
          {{ influxdbErrorTip }}
        </div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
