body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.btn-disable{
  cursor: pointer;
  background-color: #f0f0f0;
  border-color: #dcdcdc;
  color:#808080;
}
.btn-disable:hover{
  background-color: #e6e6e6 !important;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/**
 table
 */
table td {
  table-layout:fixed;
  word-break:break-all
}

/**
  wrapper card
 */
.wrapper {
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  right: 0;
  margin-left: 20px;
  margin-top: 10px;
  position: fixed;
  top: 50px;
  height: 100%;
  border-left: 1px solid #e8e8e8;
  overflow: auto;
  transition: right 300ms;
  margin-bottom: -50px;
  box-shadow: 0px 3px 7px -2px rgba(0, 0, 0, 0.1);
  z-index: 11;
  background-color: #ffffff;
  display: none;
}
.wrapper_small{
  width: 750px;
}
.wrapper_large{
  width: 80%;
}
.wrapper_header {
  margin: 0;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  padding: 15px 20px;
  border-bottom: 1px solid #e8e8e8;
}
.wrapper_footer{
  margin: 10px 0 0 0;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  padding: 15px 20px;
  /*border-top: 1px solid #e8e8e8;*/
}
.wrapper_footer div{
  padding: 0;
}
.wrapper_footer button{
  font-size: 0.9rem;
}
.wrapper_title {
  font-size: 18px;
  font-weight: bold;
}
.wrapper_button {
  float: right;
  margin: 0;
  outline: none;
  font-family: inherit;
  text-decoration: none;
  background: initial;
  height: 28px;
  line-height: 27px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
  color: #000000;
  border-color: #dcdcdc;
  padding: 0 15px;
}
.wrapper_body {
  margin: 10px auto;
  padding: 0 20px;
  width: 98%;
}

.editor {
  width: 100%;
  height: 200px;
  margin: 10px auto;
}
.form-group .nav-link.active {
  color: #495057;
  font-weight: 700;
  background-color: #fff;
}