<section class="p-mbase m-mbase bg-MAIN_BG rounded">
  <p class="text-[18px] leading-[26px] font-bold">
    ❤️ Hi~ 欢迎使用 Apinto Gateway
  </p>
  <div class="ml-[32px] mr-[20px] mt-btnbase">
    <p class="leading-[22px] text-[14px]">
      Apinto是一款高性能、可扩展、易维护的云原生API网关。
    </p>
    <p class="leading-[22px] text-[14px]">
      Apinto基于GO语言模块化开发，5分钟极速部署，配置简单、易于维护，支持集群与动态扩容，并且提供几十款网关插件和实用的企业级插件，让用户开箱即用。
    </p>
    <p class="mt-[20px] leading-[22px] text-[14px]">
      如果您喜欢
      Apinto，请给我们一颗Star，您的支持是我们最大的动力。如果您在使用过程中有需求和疑问，欢迎提交Github
      Issue或者加入我们的用户讨论群。
    </p>

    <div class="mt-mbase">
      <button eo-ng-button nzType="primary" class="mr-btnrbase">
        Github&nbsp;
        <img
          src="https://img.shields.io/github/stars/eolinker/apinto?style=social"
          alt=""
          class="p-[2px] bg-MAIN_BG rounded"
        />
      </button>
      <button eo-ng-button>提交&nbsp;Issue</button>
    </div>
  </div>
</section>
<section class="p-mbase m-mbase bg-MAIN_BG rounded">
  <p class="text-[18px] leading-[26px] font-bold">🚀 快速入门指南</p>
  <div
    class="ml-[32px] mr-[60px] mt-btnbase flex justify-between max-w-[955px]"
  >
    <div class="w-[190px] flex flex-col justify-between">
      <img class="w-[190px] h-[100px]" />
      <div class="flex flex-1 mt-btnbase">
        <div
          class="ant-steps-item-icon min-w-[24px] w-[24px] h-[24px] flex items-center justify-center"
        >
          <svg class="iconpark-icon"><use href="#chenggong"></use></svg>
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <p>创建集群</p>
            <p>创建 Apinto 网关集群，集群用于承载网络流量</p>
          </div>
          <div class="mt-[14px]">
            <button eo-ng-button nzType="primary">已完成</button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-[190px] flex flex-col justify-between">
      <img class="w-[190px] h-[100px]" />
      <div class="flex flex-1 mt-btnbase">
        <div
          class="ant-steps-item-icon min-w-[24px] w-[24px] h-[24px] flex items-center justify-center"
        >
          <svg class="iconpark-icon"><use href="#chenggong"></use></svg>
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <p>添加上游服务</p>
            <p>添加上游服务器或动态服务发现，接收网关节点转发的流量</p>
          </div>
          <div class="mt-[14px]">
            <button eo-ng-button nzType="primary">已完成</button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-[190px] flex flex-col justify-between">
      <img class="w-[190px] h-[100px]" />
      <div class="flex flex-1 mt-btnbase">
        <div
          class="ant-steps-item-icon min-w-[24px] w-[24px] h-[24px] flex items-center justify-center"
        >
          <svg class="iconpark-icon"><use href="#chenggong"></use></svg>
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <p>添加 API</p>
            <p>添加需要网关转发的 API</p>
          </div>
          <div class="mt-[14px]">
            <button eo-ng-button nzType="primary">已完成</button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-[190px] flex flex-col justify-between">
      <img class="w-[190px] h-[100px]" />
      <div class="flex flex-1 mt-btnbase">
        <div
          class="ant-steps-item-icon min-w-[24px] w-[24px] h-[24px] flex items-center justify-center"
        >
          <svg class="iconpark-icon"><use href="#chenggong"></use></svg>
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <p>发布 API</p>
            <p>发布之后就可以通过 Apinto 安全高效地访问API啦！</p>
          </div>
          <div class="mt-[14px]">
            <button eo-ng-button nzType="primary">已完成</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-mbase m-mbase bg-MAIN_BG rounded">
  <p class="text-[18px] leading-[26px] font-bold">👀 进阶操作</p>
  <div class="ml-[32px] mr-[20px] mt-btnbase"></div>
</section>
