<ng-container *ngIf="tabs.list.length === 0 || createConfig; else tabsTpl">
  <eo-ng-monitor-alarm-config></eo-ng-monitor-alarm-config>
</ng-container>
<ng-template #tabsTpl>
  <eo-ng-tabset
    [(nzSelectedIndex)]="tabs.index"
    nzType="editable-card"
    class="monitor-alarm-tabset"
    [ngClass]="{ 'eo-ng-monitor-tabs-hidden': showTabs }"
    (nzSelectedIndexChange)="changeTab()"
    (nzAdd)="addArea()"
  >
    <eo-ng-tab *ngFor="let tabItem of tabs.showList">
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="tabItem.routerLink"
        [queryParams]="tabItem.queryParams"
        [queryParamsHandling]="tabItem.queryParamsHandling"
      >
        {{ tabItem.title }}
      </a>
      <ng-template eo-ng-tab class="inside-content-fixed-top-51">
        <router-outlet></router-outlet>
      </ng-template>
    </eo-ng-tab>
  </eo-ng-tabset>
</ng-template>
