<div>
  <div
    class="pl-btnbase pr-btnrbase py-btnybase flex flex-nowrap items-center justify-between"
  >
    <button
      eo-ng-button
      nzType="primary"
      class="ant-btn-primary"
      (click)="openWebhookModal()"
      eoNgUserAccess="system/email"
    >
      <svg class="iconpark-icon"><use href="#add"></use></svg>
      <span class="ml-label"> 新建Webhook</span>
    </button>
  </div>

  <div class="list-content pb-[4px]">
    <eo-ng-apinto-table
      [nzTbody]="webhooksTableBody"
      [nzThead]="webhooksTableHead"
      [nzData]="webhooksList"
      [nzTrClick]="webhookTableClick"
      [nzMaxOperatorButton]="2"
    >
    </eo-ng-apinto-table>
  </div>
</div>

<ng-template #webhookDetailTpl>
  <eo-ng-system-webhook-config
    #webhookFormRef
    [webhookId]="webhookId"
  ></eo-ng-system-webhook-config>
</ng-template>
