<nz-layout style="overflow: hidden">
  <nz-sider [nzWidth]="360">
    <div class="side-bg">
      <div class="side-bg-mask"></div>
    </div>
  </nz-sider>
  <nz-layout style="min-width: 1006px">
    <nz-content>
      <nz-row class="login-container" nzJustify="center" nzAlign="middle">
        <section>
          <h2 nz-typography class="ant-typography">欢迎来到 Apinto Pro</h2>
          <div class="login-container">
            <div>
              <div class="login-tab">
                <span class="tab-title">账号密码登录</span>
              </div>
              <eo-ng-password></eo-ng-password>
            </div>
          </div>
        </section>
      </nz-row>
    </nz-content>
  </nz-layout>
</nz-layout>
