<div class="w-[410px] mx-auto mt-[10%]">
  <div class="mx-auto">
    <span class="flex items-center justify-center"
      ><img
        src="../../../assets/apinto.svg"
        alt="apinto"
        style="height: 40px; margin-right: 8px"
      /><span class="text-[24px] font-semibold text-[#101010]"
        >Gateway</span
      ></span
    >
  </div>
  <section
    class="block w-[410px] h-[300px] mx-auto mt-[46px] bg-MAIN_BG rounded px-[30px] pt-[30px] pb-[40px]"
  >
    <div class="login-container">
      <div>
        <div class="flex justify-center items-center">
          <span class="text-[24px] text-[#101010]">登录</span>
        </div>
        <eo-ng-password></eo-ng-password>
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center mt-[46px] text-[#101010]">
    <p class="leading-[28px]">Version 3.0.0-20230411</p>
    <p class="leading-[28px]">Powered by https://eolink.com</p>
  </section>
</div>
