<!--
 * @Author: 
 * @Date: 2022-08-09 23:06:58
 * @LastEditors: 
 * @LastEditTime: 2022-09-28 00:25:00
 * @FilePath: /apinto/src/app/layout/upstream/upstream-create/upstream-create.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<div class="mt-formtop w-[700px] ml-auto mr-auto">
  <form
    nz-form
    [nzNoColon]="true"
    [nzAutoTips]="autoTips"
    [formGroup]="validateForm"
    autocomplete="off"
  >
    <nz-form-item class="form-row">
      <label class="w-[110px] leading-[32px] text-right"
        ><span class="required-symbol">*</span>上游服务名称：</label
      >
      <nz-form-control class="form-input" [nzErrorTip]="nameErrorTpl">
        <input
          name="name"
          eoNgUserAccess="upstream/upstream"
          required
          eo-ng-input
          class="w-INPUT_NORMAL"
          formControlName="name"
          placeholder="英文数字下划线任意一种，首字母必须为英文"
        />

        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('pattern')"
            >英文数字下划线任意一种，首字母必须为英文</ng-container
          >
          <ng-container *ngIf="control.hasError('required')"
            >必填项</ng-container
          ></ng-template
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-row">
      <label class="w-[110px] leading-[32px] text-right">描述：</label>
      <nz-form-control class="form-input">
        <textarea
          class="w-INPUT_NORMAL"
          name="desc"
          rows="6"
          eo-ng-input
          formControlName="desc"
          eoNgUserAccess="upstream/upstream"
          placeholder="请输入"
        ></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-row">
      <label class="w-[110px] leading-[32px] text-right"
        ><span class="required-symbol">*</span>请求协议：</label
      >
      <nz-form-control class="form-input">
        <eo-ng-select
          name="scheme"
          class="w-INPUT_NORMAL"
          required
          formControlName="scheme"
          [nzOptions]="schemeList"
          eoNgUserAccess="upstream/upstream"
          [nzDisabled]="nzDisabled"
          (disabledEdit)="disabledEdit($event)"
        ></eo-ng-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-row">
      <label class="w-[110px] leading-[32px] text-right"
        ><span class="required-symbol">*</span>负载算法：</label
      >
      <nz-form-control class="form-input">
        <eo-ng-select
          name="balance"
          class="w-INPUT_NORMAL"
          required
          formControlName="balance"
          [nzOptions]="balanceList"
          [nzDisabled]="nzDisabled"
        ></eo-ng-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-row">
      <label class="w-[110px] leading-[32px] text-right"
        ><span class="required-symbol">*</span>服务发现：</label
      >
      <nz-form-control class="form-input">
        <eo-ng-select
          name="discoveryName"
          class="w-INPUT_NORMAL"
          required
          formControlName="discoveryName"
          (ngModelChange)="changeBasedata()"
          [nzOptions]="discoveryList"
          [nzDisabled]="nzDisabled"
        ></eo-ng-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-[8px]">
      <nz-form-control class="dynamic-control">
        <dynamic-component
          ngDefaultControl
          name="dynamic"
          id="dynamic"
          [(apiData)]="createUpstreamForm"
          (apiDataChange)="getDataFromDynamicComponent($event)"
          [baseData]="baseData"
          [nzDisabled]="nzDisabled"
          [startValidate]="startValidateDynamic"
        ></dynamic-component>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-row mb-0">
      <label class="w-[110px] leading-[32px] text-right"
        ><span class="required-symbol">*</span>请求超时时间：</label
      >
      <nz-form-control class="form-input" nzExtra="单位：ms，最小值：1">
        <input
          class="w-INPUT_NORMAL"
          type="number"
          name="timeout"
          required
          eo-ng-input
          formControlName="timeout"
          (change)="checkTimeout()"
          placeholder="请输入"
          eoNgUserAccess="upstream/upstream"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-0 sticky bg-white bottom-0 py-mbase z-50">
      <div class="w-[110px] leading-[32px] text-right"></div>
      <nz-form-control class="form-input">
        <button
          class="ant-btn-primary"
          eoNgUserAccess="upstream/upstream"
          type="submit"
          eo-ng-button
          (click)="saveUpstream()"
          [nzLoading]="submitButtonLoading"
        >
          {{ editPage ? '提交' : '保存' }}
        </button>
        <button eo-ng-button class="ml-btnybase" (click)="backToList()">
          取消
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
