<!-- <div class=" monitor-total-content">
  <div class="list-header pl-btnbase pr-btnrbase py-btnybase">
    <div class="group-search-large">
      <label class="label">选择时间</label>
      <eo-ng-radio-group
        class="ml-label date-picker-button-group"
        [(ngModel)]="timeButton"
        [nzOptions]="timeButtonOptions"
        nzStyle="button"
        nzButtonStyle="solid"
      ></eo-ng-radio-group>
      <nz-range-picker
        class="date-picker-button-group"
        [nzDisabledDate]="disabledDate"
        [(ngModel)]="datePickerValue"
        (nzOnOpenChange)="openDatePicker($event)"
      ></nz-range-picker>
    </div>

    <div class="group-search-large">
      <label class="label">筛选集群</label>
      <eo-ng-select
        class="ml-label"
        [(ngModel)]="queryData.clusters"
        [nzOptions]="listOfClusters"
        nzMode="multiple"
        [nzShowCheckAll]="true"
        nzPlaceHolder="请选择"
      ></eo-ng-select>
      <label class="ml-btnybase label">筛选IP</label>
    <eo-ng-search-input-group  class="ml-label" [eoInputVal]="queryData.ip" (eoClick)="queryData.ip = ''；getIpTableList()">

        <input
          class="search"
          type="text"
          eo-ng-input
          placeholder="请输入"
          [(ngModel)]="queryData.ip"
        />
    </eo-ng-search-input-group>
     

      <button class="ml-btnybase" eo-ng-button (click)="clearSearch()">
        重置
      </button>
      <button
        class="ant-btn-primary ml-btnybase"
        eo-ng-button
        (click)="getIpTableList()"
      >
        查询
      </button>
      <button class="ml-btnybase" eo-ng-button (click)="export()">
        导出
      </button>
    </div>
  </div>
  <div class="list-content">
    <eo-ng-monitor-alarm-ip-table
      type="upstreamTotal"
      [ipTableList]="ipTableList"
      [showPagination]="true"
      (btnClick)="goToDetail($event)"
      (tableConfigChange)="getNewTableConfig($event)"
    ></eo-ng-monitor-alarm-ip-table>
  </div>
</div> -->
