<!--
 * @Author:  
 * @Date: 2022-09-26 21:27:30
 * @LastEditors:  
 * @LastEditTime: 2022-09-27 23:00:47
 * @FilePath: /apinto/projects/core/src/app/layout/deploy/environment/environment.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<div class="">
  <div
    class="list-header pl-btnbase pr-btnrbase py-btnybase flex flex-nowrap items-center justify-between"
  >
    <div>
      <button
        eo-ng-button
        class="ant-btn-primary"
        eoNgUserAccess="deploy/env"
        (disabledEdit)="disabledEdit($event)"
        (click)="addConfig()"
      >
        新建配置
      </button>
    </div>
    <div style="display: 'flex'">
      <label>KEY：</label>
      <input eo-ng-input [(ngModel)]="searchForm.key" placeholder="请输入" />

      <label class="ml-btnybase">状态：</label>
      <eo-ng-select
        [(ngModel)]="searchForm.status"
        [nzOptions]="statusList"
        nzPlaceHolder="请选择"
      ></eo-ng-select>

      <button class="ml-btnybase" eo-ng-button (click)="resetSearch()">
        重置
      </button>
      <button
        class="ant-btn-primary ml-btnybase"
        eo-ng-button
        (click)="getVariables()"
      >
        查询
      </button>
    </div>
  </div>
  <div class="list-content pb-[4px]">
    <eo-ng-apinto-table
      class=""
      [nzTbody]="globalEnvTableBody"
      [nzThead]="globalEnvTableHeadName"
      [nzData]="globalEnvForms.variables"
      [nzTrClick]="globalEnvTableClick"
      [nzMaxOperatorButton]="2"
      [nzShowPagination]="true"
      [nzFrontPagination]="false"
      [nzTotal]="variablePage.total"
      [(nzPageIndex)]="variablePage.page_num"
      [(nzPageSize)]="variablePage.page_size"
      (nzPageIndexChange)="getVariables()"
      (nzPageSizeChange)="getVariables()"
    >
    </eo-ng-apinto-table>
  </div>
</div>

<ng-template #variableStatusTpl let-item="item">
  <ng-container [ngSwitch]="item.status">
    <span *ngSwitchCase="'IN_USE'" style="color: #00785a">使用中</span>
    <span *ngSwitchCase="'UNUSED'" style="color: #2878ff">空闲</span>
  </ng-container>
</ng-template>
