<form
  nz-form
  [nzNoColon]="true"
  [nzAutoTips]="autoTips"
  [formGroup]="validateForm"
  autocomplete="off"
>
  <nz-form-item class="form-row">
    <nz-form-label [nzSpan]="6" nzRequired>导航名称：</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input
        class="w-INPUT_NORMAL"
        eo-ng-input
        name="name"
        required
        placeholder="请输入"
        formControlName="name"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form-row">
    <nz-form-label [nzSpan]="6">图标：</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-upload
        class="picture-upload"
        [(nzFileList)]="fileList"
        (nzFileListChange)="handlerFileChange()"
        (nzChange)="handlerFileChange()"
        [nzBeforeUpload]="beforeUpload"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzLimit]="1"
        [nzRemove]="removeFile"
        nzAccept="image/png"
        [nzSize]="100"
      >
        <ng-container *ngIf="!fileList.length">
          <div class="ant-upload-text"></div>
          <svg
            class="icon-image iconpark-icon h-[100%] w-[100%]"
            *ngIf="iconSvg"
          >
            <use [attr.href]="'#' + iconSvg"></use>
          </svg>
        </ng-container>

        <ng-container *ngIf="!iconSvg">
          <img
            class="icon-image"
            [src]="imageUrl"
            style="width: 100%; height: 100%"
          />
        </ng-container>

        <svg
          *ngIf="iconSvg || fileList.length"
          (click)="deleteIcon($event)"
          class="delete-icon iconpark-icon absolute ml-[-10px] mt-[-5px] bg-[#fff] rounded-[50px] p-[2px] opacity-0 border-[1px] border-solid border-BORDER"
        >
          <use href="#guanbi"></use>
        </svg>
      </nz-upload>

      <div
        class="ant-form-item-extra activation-extra"
        style="padding-left: 0"
        (click)="$event.stopPropagation()"
      >
        请上传64*64px的png图标，大小100k以内
      </div>
    </nz-form-control>
  </nz-form-item>
  <div formArrayName="children" cdkDropList (cdkDropListDropped)="drop($event)">
    <ng-container
      *ngFor="
        let child of childArray.controls;
        let index = index;
        let first = first
      "
    >
      <nz-form-item *ngIf="editPage">
        <nz-form-label [nzSpan]="6">
          <span *ngIf="first">子导航配置：</span>
        </nz-form-label>
        <nz-form-control
          class="child-navigation"
          [nzSpan]="14"
          [formGroupName]="index"
          cdkDrag
        >
          <div class="flex items-center">
            <svg
              cdkDragHandle
              class="cursor-pointer iconpark-icon border-[1px] border-solid border-color-base mr-btnybase"
            >
              <use href="#hamburger-button"></use>
            </svg>

            <input
              eo-ng-input
              placeholder="placeholder"
              formControlName="title"
            />
          </div>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </div>
</form>
