<ng-template #defaultRenderListTpl>
  <ul *ngIf="stat.shownCount > 0" class="ant-transfer-list-content">
    <li
      *ngFor="let item of validData"
      (click)="onItemSelect(item)"
      class="ant-transfer-list-content-item"
      [ngClass]="{
        'ant-transfer-list-content-item-disabled': disabled || item.disabled
      }"
    >
      <label
        #checkboxes
        nz-checkbox
        [nzChecked]="item.checked"
        (nzCheckedChange)="onItemSelect(item)"
        [nzDisabled]="disabled || item.disabled"
      >
        <ng-container *ngIf="!render; else renderContainerTpl">{{
          item.title
        }}</ng-container>
        <ng-template
          #renderContainerTpl
          [ngTemplateOutlet]="render"
          [ngTemplateOutletContext]="{ $implicit: item }"
        ></ng-template>
      </label>
    </li>
  </ul>
  <div *ngIf="stat.shownCount === 0" class="ant-transfer-list-body-not-found">
    <nz-embed-empty
      [nzComponentName]="'transfer'"
      [specificContent]="notFoundContent"
    ></nz-embed-empty>
  </div>
</ng-template>
<div class="ant-transfer-list-header">
  <label
    *ngIf="showSelectAll"
    class="ant-transfer-list-checkbox"
    nz-checkbox
    #headerCheckbox
    [nzChecked]="stat.checkAll"
    (nzCheckedChange)="onItemSelectAll($event)"
    [nzIndeterminate]="stat.checkHalf"
    [nzDisabled]="stat.shownCount === 0 || disabled"
  ></label>
  <span class="ant-transfer-list-header-selected">
    <span class="ant-transfer-list-header-render">{{ renderTitle }}</span
    >(
    <span>
      {{ stat.checkCount + '/' + stat.shownCount }}
      {{ validData.length > 1 ? itemsUnit : itemUnit }}
    </span>
    )
  </span>
  <span *ngIf="titleText" class="ant-transfer-list-header-title">{{
    titleText
  }}</span>
</div>
<div
  class="{{
    showSearch
      ? 'ant-transfer-list-body ant-transfer-list-body-with-search'
      : 'ant-transfer-list-body'
  }}"
  [ngClass]="{ 'ant-transfer__nodata': stat.shownCount === 0 }"
>
  <div class="eo-ng-transfer-render-top">
    <ng-container *ngIf="renderTop">
      <ng-container
        *ngTemplateOutlet="
          renderTop;
          context: {
            $implicit: validData,
            direction: direction,
            disabled: disabled,
            onItemSelectAll: onItemSelectAll,
            onItemSelect: onItemSelect,
            stat: stat,
            filter: filter
          }
        "
      ></ng-container>
    </ng-container>
    <div
      *ngIf="showSearch"
      class="ant-transfer-list-body-search-wrapper text-right px-[16px]"
    >
      <span
        eo-ng-transfer-search
        class="ant-input-affix-wrapper ant-transfer-list-search w-[224px]"
        (valueChanged)="handleFilter($event)"
        (valueClear)="handleClear()"
        [placeholder]="searchPlaceholder"
        [disabled]="disabled"
        [value]="filter"
      ></span>
    </div>
  </div>
  <ng-container *ngIf="renderList; else defaultRenderListTpl">
    <div class="ant-transfer-list-body-customize-wrapper px-[16px]">
      <ng-container
        *ngTemplateOutlet="
          renderList;
          context: {
            $implicit: validData,
            direction: direction,
            disabled: disabled,
            onItemSelectAll: onItemSelectAll,
            onItemSelect: onItemSelect,
            stat: stat,
            filter: filter
          }
        "
      ></ng-container>
    </div>
  </ng-container>
</div>
<div *ngIf="footer" class="ant-transfer-list-footer">
  <ng-template
    [ngTemplateOutlet]="footer"
    [ngTemplateOutletContext]="{ $implicit: direction }"
  ></ng-template>
</div>
