<div class="mt-formtop">
  <form
    nz-form
    [nzNoColon]="true"
    [nzAutoTips]="autoTips"
    [formGroup]="validateForm"
    autocomplete="off"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>策略名称：</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        [nzErrorTip]="nameErrorTpl"
        nzExtra="仅支持中英文，长度32字符以内"
      >
        <input
          class="w-INPUT_NORMAL"
          type="text"
          eo-ng-input
          name="title"
          formControlName="title"
          placeholder="请输入"
          required
          eoNgUserAccess="monitor-alarm"
        />
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('pattern')"
            >仅支持中英文</ng-container
          ></ng-template
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">描述：</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <textarea
          class="w-INPUT_NORMAL"
          name="desc"
          rows="6"
          eo-ng-input
          formControlName="desc"
          placeholder="请输入"
          eoNgUserAccess="monitor-alarm"
        ></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>告警启停：</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <eo-ng-switch
          name="isEnable"
          formControlName="isEnable"
          [nzDisabled]="nzDisabled"
        ></eo-ng-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired
        ><span
          eoNgFeedbackTooltip
          nzTooltipTitle="提示：按选定的维度计数，如告警维度选择按API，则以单个API按照条件进行计数。"
          [nzTooltipVisible]="false"
          nzTooltipTrigger="hover"
          >告警维度：
        </span></nz-form-label
      >
      <nz-form-control [nzSpan]="12">
        <eo-ng-radio-group
          name="dimension"
          formControlName="dimension"
          [nzOptions]="listOfDimensions"
          (ngModelChange)="dimensionValueChange($event)"
        ></eo-ng-radio-group>
      </nz-form-control>
    </nz-form-item>
    <section
      formGroupName="target"
      *ngIf="validateForm.controls['dimension'].value !== 'partition'"
    >
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>告警目标：</nz-form-label>
        <nz-form-control
          *ngIf="
            validateForm.controls['dimension'].value !== 'cluster';
            else clusterSelectTpl
          "
          [nzSpan]="12"
          [nzValidateStatus]="checkRadioError() ? 'error' : ''"
          [nzErrorTip]="
            '请选择' +
            (validateForm.controls['dimension'].value === 'api'
              ? 'API'
              : '上游服务')
          "
        >
          <eo-ng-radio-group name="rule" formControlName="rule">
            <label eo-ng-radio nzValue="unlimited">不限</label>
            <label eo-ng-radio nzValue="contain"
              >包含
              <a
                class="ml-[8px]"
                *ngIf="validateForm.get('target.rule')!.value === 'contain'"
                (click)="openTargetValueModal()"
                >{{
                  (targetValueMap[
                    validateForm.controls['dimension']!.value === 'api'
                      ? 'api'
                      : 'service'
                  ].contain.length > 0
                    ? '已选（' +
                      targetValueMap[
                        validateForm.controls['dimension'].value === 'api'
                          ? 'api'
                          : 'service'
                      ].contain.length +
                      '）'
                    : '选择') +
                    '包含' +
                    (validateForm.controls['dimension'].value === 'api'
                      ? 'API'
                      : '上游服务')
                }}</a
              >
            </label>
            <label eo-ng-radio nzValue="not_contain"
              >不包含<a
                class="ml-[8px]"
                *ngIf="validateForm.get('target.rule')!.value === 'not_contain'"
                (click)="openTargetValueModal()"
                >{{
                  (targetValueMap[
                    validateForm.controls['dimension'].value === 'api'
                      ? 'api'
                      : 'service'
                  ].not_contain.length > 0
                    ? '已选（' +
                      targetValueMap[
                        validateForm.controls['dimension'].value === 'api'
                          ? 'api'
                          : 'service'
                      ].not_contain.length +
                      '）'
                    : '选择') +
                    '不包含' +
                    (validateForm.controls['dimension'].value === 'api'
                      ? 'API'
                      : '上游服务')
                }}</a
              ></label
            >
          </eo-ng-radio-group>
        </nz-form-control>
        <ng-template #clusterSelectTpl>
          <nz-form-control
            [nzSpan]="12"
            [nzValidateStatus]="
              showClusterValueError &&
              validateForm.get('target.value')?.status === 'INVALID'
                ? 'error'
                : ''
            "
            nzErrorTip="必填项"
          >
            <eo-ng-select
              *ngIf="validateForm.controls['dimension'].value === 'cluster'"
              name="value"
              class="w-INPUT_NORMAL"
              formControlName="values"
              nzMode="multiple"
              [nzShowCheckAll]="true"
              nzPlaceHolder="请选择"
              [nzOptions]="listOfClusters"
              [nzDisabled]="nzDisabled"
            ></eo-ng-select>
          </nz-form-control>
        </ng-template>
      </nz-form-item>
    </section>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>告警指标：</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <eo-ng-select
          class="w-INPUT_NORMAL"
          name="quota"
          required
          formControlName="quota"
          nzPlaceHolder="请选择"
          [nzOptions]="listOfQuotas"
          [nzDisabled]="nzDisabled"
        ></eo-ng-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>统计时间：</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <eo-ng-select
          class="w-INPUT_NORMAL"
          name="every"
          required
          formControlName="every"
          nzPlaceHolder="请选择"
          [nzOptions]="listOfEvery"
          [nzDisabled]="nzDisabled"
        ></eo-ng-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-0">
      <nz-form-label [nzSpan]="7" nzRequired>
        <span
          eoNgFeedbackTooltip
          nzTooltipTitle="提示：系统按1分钟统计。"
          [nzTooltipVisible]="false"
          nzTooltipTrigger="hover"
          >告警规则：
        </span>
      </nz-form-label>
      <section class="bg-bar-theme p-mbase rounded">
        <div>
          <eo-ng-monitor-alarm-strategy-rule
            [editPage]="editPage"
            [quota]="validateForm.controls['quota'].value"
            [(rulesList)]="rulesList"
            (rulesListChange)="rulesRequired()"
          >
          </eo-ng-monitor-alarm-strategy-rule>
        </div>
      </section>
    </nz-form-item>
    <div nz-row class="mb-[20px]">
      <div
        nz-col
        [nzOffset]="7"
        [nzSpan]="12"
        *ngIf="showClusterValueError && rulesErrorTip"
        class="ant-form-item-with-help"
      >
        <div class="ant-form-item-explain">
          <div
            role="alert"
            class="ant-form-item-explain-error"
            style="margin-left: var(--LAYOUT_PADDING)"
          >
            请输入至少一组告警规则。
          </div>
        </div>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">告警消息频率：</nz-form-label>
      <div nz-col [nzSpan]="12">
        <nz-form-control class="mb-[8px]">
          <eo-ng-input-group
            class="w-INPUT_NORMAL"
            nzPrefix="连续告警每"
            nzSuffix="分钟/次"
          >
            <input
              type="number"
              eo-ng-input
              name="continuity"
              placeholder="请输入"
              formControlName="continuity"
              eoNgUserAccess="monitor-alarm"
            />
          </eo-ng-input-group>
        </nz-form-control>
        <nz-form-control>
          <eo-ng-input-group
            class="w-INPUT_NORMAL"
            nzPrefix="每小时最多"
            nzSuffix="次"
          >
            <input
              type="number"
              eo-ng-input
              name="hourMax"
              placeholder="请输入"
              formControlName="hourMax"
              eoNgUserAccess="monitor-alarm"
            />
          </eo-ng-input-group>
        </nz-form-control>
      </div>
    </nz-form-item>

    <nz-form-item class="mb-[1px]">
      <nz-form-label [nzSpan]="7"> 通知用户：</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <eo-ng-select
          class="w-INPUT_NORMAL"
          name="users"
          eoNgUserAccess="monitor-alarm"
          formControlName="users"
          nzMode="multiple"
          [nzShowCheckAll]="true"
          nzPlaceHolder="请选择"
          [nzOptions]="listOfUsers"
          [nzDisabled]="nzDisabled"
        ></eo-ng-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-0 sticky bg-white bottom-0 py-mbase">
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button
          eoNgUserAccess="router"
          class="ant-btn-primary"
          type="submit"
          eo-ng-button
          (click)="saveStrategy()"
        >
          {{ editPage ? '提交' : '保存' }}
        </button>
        <button eo-ng-button class="ml-btnybase" (click)="backToList()">
          取消
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
