.ant-form-item {
  margin-bottom: var(--FORM_SPAN);
}

@media (min-width: 575px) {
  .ant-modal-body .ant-row {
    flex-flow: nowrap;
  }
}

.ant-modal-body {
  max-height: 640px;
  overflow-y: auto;

  textarea {
    height: 68px;
  }

  .verticalCheckbox label {
    margin-bottom: var(--PAGINATION_MARGIN_TOP);
  }
}

.monitor-modal .ant-modal-body {
  max-height: unset;
}

form label,
form .label,
form .ant-form-item-label > label {
  color: var(--LABEL_COLOR);
}

.drawer-list-content.ant-form-item {
  margin-bottom: 0px !important;
}
.ant-form-item-label > label {
  height: 32px;
  color: var(--LABEL_COLOR);
}

.ant-form-item-explain-error {
  color: #ff4d4f;
  font-size: 12px !important;
  min-height: 20px;
  margin-top: 2px;
  word-break: break-all;
}

.ant-form-item-label > label::after {
  margin: 0 !important;
  content: '';
}

.ant-drawer-body .ant-form-item-label > label::after {
  margin: 0 !important;
}

.ant-form-item-with-help .ant-form-item-explain {
  min-height: 16px;
}
.ant-form-item-explain,
.ant-form-item-extra {
  font-size: 12px !important;
  color: var(--text-secondary-color);
  min-height: 0px;
  line-height: 20px;
  margin-top: 2px;
}

.authDrawer {
  .ant-form-row {
    align-items: center;
  }
  .form-input.auth-compact {
    width: 564px !important;
    display: flex;
  }

  .dynamic_inline_block
    .dynamic_block
    > div:last-child
    .ant-form-item-with-help
    .margin-dynamic-row {
    height: 20px;
  }

  .dynamic_inline_block
    .dynamic_block
    > div:not(:last-child)
    .ant-form-item-with-help
    .margin-dynamic-row {
    height: 16px !important;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 32px !important;
  }
  eo-ng-input-group {
    eo-ng-select.form-input,
    eo-ng-select.form-input eo-ng-select-top-control,
    eo-ng-select input.ant-select-selection-search-input {
      width: 132px !important;
    }

    input[eo-ng-input]:not([nzBorderless]) {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  .label {
    width: 170px !important;
    height: 32px;
    line-height: 32px;
    padding: 0;
  }

  section.dynamic_inline_block:not(last-child) {
    width: 100%;
  }
  .ant-input.w240 {
    width: 268px !important;
  }
  .ant-input.w286 {
    width: 286px !important;
  }
  .ant-input.w206 {
    width: 215px !important;
  }

  nz-space input.ant-input:nth-child(2) {
    margin-left: var(--LAYOUT_PADDING);
  }

  .ant-form-row {
    align-items: center;
  }

  .ant-picker {
    // width: 346px;
    height: 32px;
    min-height: 32px;
  }

  .mg-input-left-s {
    margin-left: var(--LAYOUT_PADDING);
  }
  .mg_label_l.ant-input {
    margin-left: 0 !important;
  }
  .block_l {
    display: flex;
  }

  .dynamic_inline_block
    .dynamic_block
    > div:not(:first-child)
    nz-space
    > div:last-child
    a.array_item_addition.ml-btnbase {
    margin-left: 0px !important;
  }

  eo-ng-switch button {
    margin-top: -2px;
  }

  eo-ng-input-group eo-ng-select.form-input,
  eo-ng-input-group eo-ng-select.form-input eo-ng-select-top-control,
  eo-ng-input-group eo-ng-select input.ant-select-selection-search-input {
    width: 132px !important;
  }
}
a.array_item_addition {
  font-size: 14px;
  min-width: 26px;
  padding: 0px 2px;
  line-height: 32px;
  height: 32px;
  border-radius: var(--DEFAULT_BORDER_RADIUS);
}
a.array_item_addition.ml-btnbase {
  margin-left: 8px !important;
}
