// 表格自带分页的选择器宽度
.ant-pagination-options {
  .ant-select,
  nz-select-top-control.ant-select-selector {
    width: auto !important;
  }
}
// select光标与placeholder位置，待组件库修改
.ant-select-multiple .ant-select-selection-search {
  margin-inline-start: 2px;
}

eo-ng-select:not(.ant-select-open)
  eo-ng-select-top-control
  nz-select-search.ant-select-selection-search {
  width: 1px !important;
}

.ant-select-item {
  label[eo-ng-checkbox] {
    padding-top: 0px;
  }
}

.ant-select-selection-placeholder {
  color: var(--input-placeholder-color) !important;
}
