@tailwind components;
@tailwind utilities;

@import './select.style.scss';
@import './table.style.scss';
@import './input.style.scss';
@import './layout.style.scss';
@import './form.style.scss';
@import './formily.style.scss';
/* You can add global styles to this file, and also import other style files */
:root {
  --layout-header-height: 50px;
  --layout-footer-height: 30px;

  --btn-icon-margin: 5px;
  --button-height: 32px; //标签、输入框高度也用该变量
  --tabs-height: 43px;
  --tree-item-height: 30px;
  --collapse-header-height: 46px;

  --table-font-size: 14px;
  --table-row-height: 40px;
  --table-item-padding: 4px;

  --layout-sidebar-width: 90px;
  --layout-sidebar-item-height: auto;
  --icon-size: 16px;
  --button-icon-margin: 5px;

  --modal-mask-background-color: 0px 10px 15px 15px;
  --border-radius: 4px;
  --padding: 15px 20px;
  --padding-x: 20px;
  --padding-y: 15px;

  --margin: 20px;

  --menu-item-border-width: 3px;

  --modal-mask-background-color: 0px 10px 15px 15px;
  --modal-mask-background-color: 0px 10px 15px 15px;

  //导航底部线条粗细
  --menu-item-border-width: 3px;
  --padding: 20px;
  --padding_X: 20px;
  --padding_Y: 15px;

  --margin: 20px;

  --LAYOUT_PADDING: 10px;
  --LAYOUT_MARGIN: 10px; // y轴方向的距离
  --TABS_MARGIN: 16px; // tabs之间的距离
  --PAGINATION_MARGIN_TOP: 16px;

  --icon-size: 16px;
  --FORM_SPAN: 20px;
  --button-icon-margin: 5px;

  --small-padding: 4px; //用于表单label中文字与星号距离、checkbox中文字与勾选框距离、树组件图标间距
  --form-font-size: 14px;

  //###主题相关颜色###
  --item-hover-background-color: #f2f2f2;
  --modal-mask-background-color: rgba(0, 0, 0, 0.35);
  --background-color: #fff;
  --disabled-background-color: #f6f6f7;
  --disabled-border-color: #dedede;
  --disabled-text-color: #bbbbbb;
  --divider-color: #f3f3f3;
  --required-symbol-color: #ff4d4f; //表单label中*颜色
  // 按钮
  //次要按钮
  --primary-hover-color: var(--item-hover-background-color);
  --danger-color: red;
  --disabled-background-color: #f3f3f3;
  --text-color: #333333;
  --disabled-text-color: #cccccc;
  --item-active-background-color: #f2f2f2;
  --border-color: #e8e8e8;

  --TITLE_TEXT: #666666;
  --primary-color: #7371fc;
  --LABEL_COLOR: #5a5a5a;
  --scrollbar-thumb-background-color: rgba(0, 0, 0, 0.05);
  --bar-background-color: #fafafa;
  --button-shadow-color: #d9d9d9;

  --collapse-border-color: var(--border-color);

  --select-border-color: var(--border-color);
  --select-background-color: var(--background-color);

  --button-border-color: var(--border-color);
  --button-shadow-color: var(--button-shadow-color);
  --button-text-text-color: var(--text-color);
  --button-text-hover-text-color: var(--text-color);
  --button-text-hover-background-color: hsl(0, 0%, 95.1%);
  --button-danger-text-color: var(--danger-color);
  --button-primary-text-color_BLUE: var(--info-color);
  --button-primary-text-color: #ffffff;
  --button-primary-hover-text-color: #ffffff;
  --button-primary-background-color: var(--primary-color);
  --button-primary-hover-background-color: #7371fccc;
  --button-primary-border-color: transparent;
  --button-primary-hover-border-color: transparent;
  --button-primary-border-color: rgba(0, 0, 0, 0.07);
  --button-primary-active-border-color: #7371fccc;
  --button-primary-active-background-color: #7371fccc;
  --button-primary-shadow-color: var(--button-shadow-color);
  --button-default-text-color: #000000;
  --button-default-hover-text-color: #000000;
  --button-default-background-color: #ffffff;
  --button-default-hover-background-color: #ffffff;
  --button-default-border-color: var(--border-color);
  --button-default-hover-border-color: rgba(0, 0, 0, 0.07);
  --button-default-hover-background-color: hsl(0, 0%, 95.1%);
  --button-default-active-border-color: rgba(0, 0, 0, 0.07);
  --button-default-active-background-color: hsl(0, 0%, 95.1%);
  --button-default-shadow-color: var(--button-shadow-color);
  --button-danger-text-color: #ff3c32;
  --button-danger-border-color: #ff3c32;
  --button-danger-background-color: #fff;
  --button-danger-hover-text-color: rgba(255, 60, 50, 0.8);
  --button-danger-hover-border-color: #ff3c32;
  --button-danger-hover-background-color: #fff;
  --button-danger-active-border-color: #ff3c32;
  --button-danger-active-background-color: #fff;
  --button-danger-shadow-color: var(--button-shadow-color);
  --tabs-badge-color: var(--primary-color);
  --tabs-active-badge-color: #7371fc;
  --tabs-background-color: var(--background-color);
  --tabs-text-color: var(--text-color);
  --tabs-active-color: var(--primary-color);
  --tabs-active-text-color: var(--text-color);
  --tabs-card-text-color: var(--text-color);
  --tabs-card-background-color: #fafafa;
  --tabs-card-item-background-color: var(--background-color);
  --tabs-card-item-active-color: var(--primary-color);
  --tabs-card-item-active-text-color: var(--text-color);
  --tabs-card-item-active-background-color: var(--background-color);
  --table-text-color: var(--text-color);
  --table-border-color: rgba(0, 0, 0, 0.07);
  --table-background-color: var(--background-color);
  --table-header-text-color: var(--TITLE_TEXT);
  --table-header-background-color: #fafafa;
  --table-row-hover-background-color: hsl(0, 0%, 95.1%);
  --table-footer-background-color: var(--background-color);
  --table-footer-text-color: var(--text-color);
  --tree-header-background-color: var(--background-color);
  --tree-text-color: var(--text-color);
  --tree-background-color: var(--background-color);
  --tree-selected-text-color: var(--text-color);
  --tree-selected-background-color: hsl(0, 0%, 95.1%);
  --tree-hover-text-color: var(--text-color);
  --tree-hover-background-color: hsl(0, 0%, 95.1%);
  --dropdown-menu-background-color: var(--background-color);
  --dropdown-item-text-color: var(--text-color);
  --dropdown-item-hover-text-color: var(--text-color);
  --dropdown-item-hover-background-color: hsl(0, 0%, 95.1%);
  --menu-background-color: var(--background-color);
  --menu-item-text-color: var(--text-color);
  --menu-item-group-title-text-color: #999;
  --menu-item-active-background-color: rgba(51, 51, 51, 0.1);
  --menu-item-active-color: var(--primary-color);
  --menu-item-active-text-color: var(--text-color);
  --menu-inline-submenu-background-color: #fafafa;
  --select-text-color: var(--text-color);
  --select-border-color: rgba(0, 0, 0, 0.07);
  --select-hover-border-color: var(--primary-color);
  --select-active-border-color: var(--primary-color);
  --select-background-color: var(--background-color);
  --select-dropdown-text-color: var(--text-color);
  --select-dropdown-background-color: var(--background-color);
  --select-item-selected-text-color: var(--text-color);
  --select-item-selected-background-color: hsl(0, 0%, 95.1%);
  --select-item-hover-background-color: hsl(0, 0%, 95.1%);
  --input-text-color: var(--text-color);
  --input-background-color: var(--background-color);
  --input-icon-color: rgba(0, 0, 0, 0.25);
  --input-border-color: rgba(0, 0, 0, 0.07);
  --input-hover-border-color: var(--primary-color);
  --input-active-border-color: var(--primary-color);
  --input-placeholder-color: #bbbbbb;
  --modal-header-background-color: var(--background-color);
  --modal-header-text-color: var(--text-color);
  --modal-body-background-color: var(--background-color);
  --modal-body-text-color: var(--text-color);
  --modal-footer-background-color: var(--background-color);
  --modal-footer-text-color: var(--text-color);
  --modal-mask-background-color: rgba(0, 0, 0, 0.35);
  --pagination-item-background-color: var(--background-color);
  --pagination-item-active-background-color: var(--background-color);
  --pagination-button-background-color: var(--background-color);
  --toast-success-text-color: #2ca641;
  --toast-success-icon-color: #2ca641;
  --toast-success-background-color: rgba(44, 166, 65, 0.1);
  --toast-warning-icon-color: #ed6a0c;
  --toast-warning-text-color: #ed6a0c;
  --toast-warning-background-color: rgba(237, 106, 12, 0.1);
  --toast-info-text-color: #2878ff;
  --toast-info-icon-color: #2878ff;
  --toast-info-background-color: rgba(40, 120, 255, 0.1);
  --toast-error-text-color: #ff3c32;
  --toast-error-icon-color: #ff3c32;
  --toast-error-background-color: rgba(255, 60, 50, 0.1);
  --alert-default-text-color: var(--text-color);
  --alert-default-icon-color: var(--text-color);
  --alert-default-background-color: rgba(149, 149, 149, 0.1);
  --alert-success-text-color: #2ca641;
  --alert-success-icon-color: #2ca641;
  --alert-success-background-color: rgba(44, 166, 65, 0.1);
  --alert-info-text-color: #2878ff;
  --alert-info-icon-color: #2878ff;
  --alert-info-background-color: rgba(40, 120, 255, 0.1);
  --alert-error-text-color: #ff3c32;
  --alert-error-icon-color: #ff3c32;
  --alert-error-background-color: rgba(255, 60, 50, 0.1);
  --alert-warning-text-color: #ed6a0c;
  --alert-warning-icon-color: #ed6a0c;
  --alert-warning-background-color: rgba(237, 106, 12, 0.1);
  --checkbox-text-color: var(--text-color);
  --checkbox-border-color: rgba(0, 0, 0, 0.07);
  --checkbox-background-color: var(--background-color);
  --checkbox-checked-background-color: var(--primary-color);
  --checkbox-inner-color: var(--background-color);
  --checkbox-checked-border-color: var(--primary-color);
  --checkbox-checked-text-color: var(--text-color);
  --radio-text-color: var(--text-color);
  --radio-border-color: rgba(0, 0, 0, 0.07);
  --radio-background-color: var(--background-color);
  --radio-checked-text-color: var(--text-color);
  --radio-checked-border-color: var(--primary-color);
  --radio-checked-background-color: var(--primary-color);
  --switch-active-color: var(--primary-color);
  --switch-background-color: var(--background-color);
  --switch-text-color: #fff;
  --switch-card-border-color: rgba(0, 0, 0, 0.07);
  --switch-card-background-color: var(--background-color);
  --switch-card-text-color: var(--text-color);
  --collapse-header-background-color: #fafafa;
  --collapse-border-color: rgba(0, 0, 0, 0.07);
  --collapse-content-background-color: var(--background-color);
  --popover-background-color: rgba(0, 0, 0, 0.75);
  --popover-text-color: #fff;
  --progress-default-color: #2878ff;
  --progress-success-color: #52c41a;
  --progress-exception-color: #ff3c32;
  --system-border-color: rgba(0, 0, 0, 0.07);
  --text-secondary-color: #999;
  --empty-simple-ellipse-background-color: #dce0e6;
  --empty-simple-border-color: var(--TITLE_TEXT);
  --empty-simple-box-background-color: #dce0e6;
}

address,
dl,
ol,
p,
pre,
ul {
  margin-bottom: 0em;
}

// div,
// a,
// span {
//   font-family: 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB',
//     'Microsoft YaHei', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
// }

.ace_text-layer,
.ace_content,
.ace_editor,
.ace_line {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro',
    monospace !important;
}

@media (prefers-color-scheme: dark) {
  markdown.markdown-body {
    color-scheme: light;
    --color-prettylights-syntax-comment: #6e7781;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-entity: #8250df;
    --color-prettylights-syntax-storage-modifier-import: #24292f;
    --color-prettylights-syntax-entity-tag: #116329;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #24292f;
    --color-prettylights-syntax-markup-bold: #24292f;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #eaeef2;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-brackethighlighter-angle: #57606a;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-fg-default: #24292f;
    --color-fg-muted: #57606a;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #cf222e;
  }
}

a {
  color: var(--primary-color);
}
a:hover,
a:active {
  color: var(--button-primary-hover-background-color);
}

label {
  white-space: nowrap;
  color: var(--LABEL_COLOR);
}

.iconpark-icon {
  height: var(--icon-size);
  vertical-align: middle;
  width: var(--icon-size);
}

::selection {
  background: var(--primary-color);
}

.required-symbol {
  margin-right: var(--small-padding);
  color: var(--required-symbol-color);
  font-size: var(--form-font-size);
  font-family: SimSun, sans-serif;
  line-height: 1;
}

.ant-checkbox + span {
  padding-right: var(--LAYOUT_PADDING);
}

label[eo-ng-checkbox] {
  padding-top: var(--small-padding);
}
.label {
  width: 16%;
  text-align: right;
  height: var(--button-height);
  line-height: var(--button-height);
  color: var(--LABEL_COLOR);
}

// 已禁用、未运行、未发布、异常
.red-bold {
  color: #ff3b30;
  font-weight: bold;
}

// 已上线、未禁用、运行中、已发布、正常
.green-bold {
  color: #138913;
  font-weight: bold;
}

// 待更新
.blue-bold {
  color: #03a9f4;
  font-weight: bold;
}

// 部分正常
.orange-bold {
  color: #ffa500;
  font-weight: bold;
}

// 已下线、未上线
.grey-bold {
  color: #8f8e93;
  font-weight: bold;
}

.drawer-list-content {
  margin-top: 0px;
}

.f-row-js-ac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eo-ng-dropdown-container {
  min-width: 100px;
  line-height: 20px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--MAIN_BOX_SHADOW);
}

eo-ng-option-item {
  label[eo-ng-checkbox] {
    padding-top: 0px;
  }
}

// 传入template时的消息提示框，样式可能会随着组件库更新而变化
.ant-message-custom-content.ant-message-info {
  min-height: 40px;
  line-height: 40px;
  padding: 0 16px 0 32px;
  color: #ff3b34;
  width: 442px;

  i[nzType='info-circle'] {
    display: none;
  }
}

eo-ng-api-management-group,
eo-ng-flow-control-group {
  .ant-tree .ant-tree-treenode {
    padding-left: var(--small-padding);
  }

  .ant-tree .ant-tree-switcher + .ant-tree-node-content-wrapper {
    padding-left: 2px;
  }
  .ant-tree-indent-unit {
    width: 20px;
  }
}

.ant-tree .ant-tree-node-content-wrapper {
  color: var(--text-color);
}

eo-ng-api-management-group {
  .ant-tree .ant-tree-node-content-wrapper {
    padding-left: 26px;
  }
}

eo-ng-tree-default:not(.ant-select-tree) {
  font-size: 12px;

  nz-tree-node-title {
    // height: var(--button-height);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
  }
  .ant-tree-title,
  nz-tree-node-title,
  .f-row-js-ac,
  nz-dropdown {
    // height: var(--button-height);
    // line-height: var(--button-height);
    button {
      border: none !important;
      background-color: transparent !important;
      width: auto;
      height: 28px !important;
      line-height: 28px !important;
      color: var(--text-color);
    }
    button:hover {
      // background-color: rgba(0, 0, 0, 0.1) !important;
      color: var(--text-color);
    }
  }
  .custom-node {
    // height: var(--button-height);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
  }

  .ant-tree-treenode {
    height: 30px;
  }
  .ant-tree-treenode button {
    opacity: 0;
    height: 24px !important;
    margin-right: 8px;
    margin-left: 16px;
    padding: var(--small-padding);
  }

  .ant-tree-treenode:hover,
  .ant-tree-treenode-selected {
    button:not([disabled]) {
      opacity: 1;
    }
  }
}

.ant-tree .ant-tree-treenode {
  border-radius: 0px;
}

.ant-select-tree {
  nz-tree-node-title {
    .ant-tree-title {
      margin-left: 24px;
    }
  }
  nz-tree-node-switcher + nz-tree-node-title {
    .ant-tree-title {
      margin-left: 0px;
    }
  }
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-active,
.ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-item:not(.ant-dropdown-menu-item-disabled):hover,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-submenu-title:not(.ant-dropdown-menu-item-disabled):hover {
  background-color: var(--item-hover-background-color);
}

.group-title {
  padding: var(--small-padding) var(--LAYOUT_PADDING);
  height: 30px;
  display: flex;
  align-items: center;
}

.group-title span {
  text-align: center;
  font-size: 12px;
  color: var(--text-color);
}

.group-title:not(.non-click):hover,
.group-title:not(.non-click):focus,
.group-title-selected {
  background-color: var(--item-hover-background-color);
}

.ant-menu-submenu-arrow,
.ant-menu-submenu-expand-icon,
.ant-menu-submenu > .ant-menu-submenu-title::after,
.ant-menu-submenu-arrow::after,
.ant-menu-submenu-arrow::before,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker,
.ant-picker-range .ant-picker-active-bar,
.ant-picker-input > input,
.ant-switch-handle,
.ant-switch-handle::before,
.ant-input-affix-wrapper {
  transition: none !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-background-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background-color);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-thumb-background-color);
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220, 0.6);
  border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-track {
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: 10px;
}

.modal-header {
  .ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon,
  .ant-modal-confirm-warning .ant-modal-confirm-body > .anticon {
    color: var(----alert-info-icon-color);
    font-size: 20px;
    width: 20px;
    height: 20px;
  }

  .ant-modal-confirm-title {
    line-height: 20px;
  }
  .ant-modal-confirm-body > .anticon {
    margin-right: 8px;
  }
  .ant-modal-confirm-body .ant-modal-confirm-title {
    font-size: var(--form-font-size);
  }
  .ant-modal-content {
    width: 436px;
    min-height: 186px;
  }
  .ant-modal-confirm .ant-modal-body {
    padding: 20px !important;
    width: 436px;
    min-height: 186px;
  }
  .ant-modal-body {
    padding: 24px;
    font-size: var(--form-font-size);
    line-height: 1.5715;
    word-wrap: break-word;
    width: 436px;
    height: 186px;
  }

  .ant-modal-confirm-body
    > .anticon
    + .ant-modal-confirm-title
    + .ant-modal-confirm-content {
    margin-left: 0px !important;
  }

  p {
    color: var(--TITLE_TEXT);
  }
}

.ant-pagination-options-quick-jumper input:hover,
.ant-pagination-options-quick-jumper input-focused,
.ant-pagination-options-quick-jumper input:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.ant-table-pagination.ant-pagination {
  box-shadow: 0 -2px 2px -2px var(--border-color);
  padding-top: 9px;
  padding-bottom: 10px;
  margin: 0px 10px !important;
  margin-top: 1px !important;
}

.arrayItem .ant-table-tbody tr {
  td {
    vertical-align: top;
  }
}

.delete-modal .ant-modal-title {
  color: red;
}

a.arrayItemAddition {
  font-size: var(--form-font-size);
  min-width: 26px;
  padding: 0px 2px;
  line-height: var(--button-height);
  height: var(--button-height);
  border-radius: var(--border-radius);
}
a.arrayItemAddition.ml-btnbase {
  margin-left: 8px !important;
}

.ant-picker-input > input {
  line-height: 20px !important;
}

span.highlight {
  color: var(--primary-color);
}

.ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active),
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link,
.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link {
  background: 0 0;
  border-color: transparent;
  margin-left: 2px;
  margin-right: 2px;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-placeholder-color) !important;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-placeholder-color) !important;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--input-placeholder-color) !important;
}

.method-tooltip {
  .ant-tooltip-arrow-content {
    --antd-arrow-background-color: linear-gradient(to right bottom, #fff, #fff);
  }
  .ant-tooltip-arrow-content::before {
    background: linear-gradient(to right bottom, #fff, #fff);
    background-repeat: no-repeat;
    background-position: -10px -10px;
  }
}

.ant-input-suffix {
  color: var(--TITLE_TEXT);
}

.cdk-overlay-pane.no-show-dropdown .ant-select-dropdown {
  height: 0px !important;
  padding: 0 !important;
}

.ant-message-custom-content.ant-message-error .anticon {
  display: none;
}

.ant-message-info .error-message-custom {
  .anticon {
    margin-right: 0px !important;
    font-size: 12px;
  }
  .anticon svg {
    display: inline-block !important;
  }
  .anticon::after {
    content: '';
  }
}

.divide_line_ldcc {
  border-right: 1px solid var(--border-color);
  right: 0;
  top: 0;
  position: absolute;
  height: 100%;
  cursor: col-resize;
}
.divide_line_ldcc:hover {
  border-right-width: 3px;
  border-right-color: var(--border-color);
}

.ant-menu {
  color: var(--text-color);
}

.ant-tooltip.tooltip-json .ant-tooltip-inner {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

nz-upload.ant-btn-primary {
  border: none;
  .ant-upload-list-item {
    line-height: 22px;
    margin-top: var(--small-padding);
  }
}

// modal

.auth-modal-header {
  .ant-modal-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
  .ant-modal-body {
    display: flex;
  }
}

.no-disable-table .ant-checkbox-disabled .ant-checkbox-inner::after {
  display: none;
}

.ant-modal-footer {
  text-align: right;
  padding: 16px 20px 20px 20px;
}

nz-range-picker {
  min-height: var(--button-height);
  width: 212px;
}
eo-ng-radio-group.date-picker-button-group
  .ant-radio-button-wrapper:last-child {
  border-right: none;
  border-radius: 0;
}
.ant-picker.date-picker-button-group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger),
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn + .ant-btn {
  margin-left: 16px;
}

.draggable-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  color: var(--text-color);
  font-size: var(--form-font-size);
}
.cdk-drag-preview {
  background-color: var(--background-color);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  svg {
    color: var(--text-color);
  }
}

.scroll-top-box-shadow {
  position: relative;
  z-index: 999;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.scroll-bottom-box-shadow {
  position: relative;
  z-index: 999;
  box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.05);
}

eo-ng-codebox div.nz-resizable {
  height: 0px !important;
  min-height: 0;
}
