.ant-table-measure-now {
  display: none;
}
nz-table-inner-scroll,
nz-table-inner-default {
  .ant-table tfoot > tr > td,
  .ant-table-tbody > tr > td {
    border: none;
    border-bottom: 1px solid var(--border-color) !important;
  }
  .ant-table-thead > tr > th {
    padding: 0 var(--LAYOUT_PADDING);
    color: var(--TITLE_TEXT);
    font-weight: 400;
    border: none;
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
    nz-table-filter > .ant-table-column-title {
      width: calc(100% - 40px);
      > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.tab-list .ant-table-thead > tr > th {
  border-top: none;
}

table tr td.ant-table-selection-column,
table tr th.ant-table-selection-column {
  padding: 0 !important;
  padding-left: var(--LAYOUT_PADDING) !important;
  vertical-align: middle;
}

.arrayItem {
  .ant-table {
    background-color: transparent;
  }
  .ant-table-thead,
  .ant-table-tbody tr {
    height: 0px !important;
  }
  .ant-table-tbody > tr > td {
    padding: 0 8px 16px 0 !important;
    border: none !important;
    background-color: transparent;
  }
  .ant-table-tbody > tr:last-child > td {
    padding: 0 8px 0 0 !important;
    border: none;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color: transparent !important;
  }

  .eo-ng-table-btns {
    height: 32px;
    line-height: 32px;
    button {
      line-height: 32px;
      height: 32px;
      span {
        line-height: 32px;
        height: 32px;
      }
    }
  }

  nz-table-inner-default tr > td {
    border-right: none !important;

    input {
      border: 1px solid var(--input-border-color);
      background-color: var(--input-background-color);
    }
    input:hover,
    input:focus,
    input:active {
      border: 1px solid var(--input-active-border-color);
    }

    .ant-input[disabled],
    .ant-input[disabled]:hover,
    .ant-input[disabled]:active,
    .ant-input[disabled]:focus {
      border: 1px solid var(--disabled-border-color);
      background-color: var(--disabled-background-color);
    }

    .ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
      ).ant-input,
    .ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
      ).ant-input:hover {
      background: var(--input-background-color);
      border-color: var(--danger-color) !important;
      color: var(--danger-color) !important;
    }
  }
  eo-ng-table .ant-input,
  eo-ng-table .ant-input-group,
  eo-ng-table .ant-input[disabled],
  eo-ng-table
    eo-ng-select.ant-select:not(.ant-select-customize-input):not(
      .ant-select-lg
    ):not(.ant-select-sm):not(.ant-select-disabled)
    .ant-select-selector,
  eo-ng-table
    eo-ng-select.ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: var(--border-color);
  }
}

.arrayItem.custom,
.arrayItem.fuse-header,
.arrayItem.header {
  tr td:first-child input.ant-input {
    width: 174px !important;
  }
  tr td:nth-child(2) input.ant-input {
    width: 164px !important;
  }

  td:has(input.ant-input-status-error) {
    padding-bottom: 0px !important;

    + td {
      padding-bottom: 24px !important;
    }
  }
}

.arrayItem.grey-nodes {
  td input.ant-input {
    width: 346px !important;
  }

  td:has(input.ant-input-status-error) {
    padding-bottom: 0px !important;
  }
}

.arrayItem .ant-table table {
  table-layout: auto !important;
}
// // 应用鉴权配置jwt标签信息
// .arrayItem.label {
//   tr td:first-child input.ant-input {
//     width: 168px !important;
//   }
//   tr td:nth-child(2) input.ant-input {
//     width: 168px !important;
//   }
// }

.ant-form-item-label.table-label > label,
label.table-label {
  height: 40px;
  line-height: 40px !important;
  white-space: nowrap;
  padding-top: 0;
}

.drawer-table {
  margin: 0 auto;
}

.ant-table-row-expand-icon:focus,
.ant-table-row-expand-icon:hover {
  color: var(--primary-color);
}

.ant-table-row-expand-icon {
  width: 20px !important;
  height: 20px !important;
  border-color: var(--border-color);

  &.ant-table-row-expand-icon-expanded::after {
    top: 9px !important;
    bottom: 8px !important;
    left: 4px !important;
    right: 4px !important;
    color: var(--border-color);
  }

  &.ant-table-row-expand-icon-expanded::before {
    top: 9px !important;
    left: 5px !important;
    right: 5px !important;
    color: var(--border-color);
  }

  &.ant-table-row-expand-icon-collapsed::before {
    top: 9px !important;
    bottom: 8px !important;
    left: 4px !important;
    right: 4px !important;
    color: var(--border-color);
  }

  &.ant-table-row-expand-icon-collapsed::after {
    top: 5px !important;
    bottom: 5px !important;
    left: 9px !important;
    right: 8px !important;
    color: var(--border-color);
  }
}

.innerTable {
  width: 100%;
}

.innerTable .ant-table-container table > thead > tr:first-child th,
.innerTable .ant-table-container table > thead > tr:first-child th:last-child {
  border-top: none !important;
}

.ant-transfer-customize-list .ant-transfer-list {
  display: inline-block;
  width: 538px;
}
.filter-drawer {
  .ant-drawer-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

audit-log-drawer {
  td {
    white-space: unset !important;
  }
}

.ant-table-cell-ellipsis {
  word-break: break-all;
}

.ant-table table {
  width: 100% !important;
}

.arrayItem,
.ant-table-cell {
  div:has(.ant-input-status-error) + .error-tips {
    display: block;
  }
}

.ant-table-cell-fix-right {
  right: 0px;
}
.ant-table-cell-fix-left {
  left: 0px;
}

eo-ng-apinto-table:not(.arrayItem) {
  nz-table-inner-scroll,
  nz-table-inner-default {
    table:first-child {
      border-top: 1px solid var(--border-color);
    }
  }
}

// 表格中分页的选择器用的是nz-select
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--select-item-selected-background-color);
  color: var(--select-item-selected-text-color);
}
