<eo-ng-transfer
  #transferRef
  [nzDataSource]="tableList"
  [nzShowSearch]="type === 'api' ? false : true"
  [nzShowSelectAll]="false"
  [nzTargetKeys]="selectedList"
  [nzRenderList]="[renderListTpl, renderListTpl]"
  [nzRenderTopList]="type === 'api' ? [apiMenuTpl, apiMenuTpl] : null"
  [nzRenderTitleList]="[
    type === 'api' ? '可选API数据' : '可选上游服务数据',
    type === 'api' ? '已选API数据' : '已选上游服务数据'
  ]"
  (nzChange)="change($event)"
>
  <ng-template
    #renderListTpl
    let-items
    let-direction="direction"
    let-stat="stat"
    let-disabled="disabled"
    let-onItemSelectAll="onItemSelectAll"
    let-onItemSelect="onItemSelect"
  >
    <nz-table
      #t
      [nzData]="$asTransferItems(items)"
      [nzShowPagination]="false"
      [nzFrontPagination]="false"
      [nzScroll]="{ y: '356px' }"
    >
      <thead>
        <tr>
          <ng-container *ngFor="let item of this.tableHead">
            <th
              [id]="item.title"
              nzWidth="50px"
              *ngIf="item.type === 'checkbox'"
              [nzDisabled]="disabled"
              [nzChecked]="checkThCheckAll(direction)"
              [nzIndeterminate]="checkThHalf(direction)"
              (nzCheckedChange)="onItemSelectAll($event)"
              eoNgUserAccess="monitor-alarm"
            ></th>
            <th [id]="item.title" *ngIf="item.type !== 'checkbox'">
              {{ item.title }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-template nz-virtual-scroll let-data let-index="index">
          <tr (click)="onItemSelect(data)">
            <ng-container *ngFor="let item of this.tableBody">
              <td
                *ngIf="item.key === 'checked'"
                wzWidth="50px"
                [nzChecked]="!!data.checked"
                [nzDisabled]="disabled || data.disabled"
                (nzCheckedChange)="onItemSelect(data)"
                eoNgUserAccess="monitor-alarm"
              ></td>
              <td *ngIf="item.key !== 'checked'">
                <span
                  class="ellipsis-td"
                  eoNgFeedbackTooltip
                  [nzTooltipTitle]="data[item.key?.toString() || '']"
                  nzTooltipPlacement="top"
                  [nzTooltipVisible]="false"
                  nzTooltipTrigger="hover"
                  >{{ data[item.key?.toString() || ''] }}</span
                >
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </ng-template>
</eo-ng-transfer>

<ng-template #apiMenuTpl let-direction="direction">
  <div
    class="flex mt-[12px] mb-[16px]"
    *ngIf="direction === 'left'; else blankTpl"
  >
    <eo-ng-cascader
      class="w-[126px] mr-btnbase ml-[162px]"
      nzChangeOnSelect
      name="header"
      required
      [(ngModel)]="searchGroup"
      (ngModelChange)="getSearchRemoteList(direction)"
      [nzOptions]="apiGroupList"
      nzLabelProperty="name"
      nzValueProperty="uuid"
      nzPlaceHolder="目录筛选"
    >
    </eo-ng-cascader>
    <eo-ng-search-input-group
      class="w-[224px] mr-[16px]"
      [eoNoWidth]="true"
      [eoInputVal]="searchKeyword"
      (eoClick)="searchKeyword = ''; getSearchRemoteList(direction, 'keyword')"
    >
      <input
        type="text"
        eo-ng-input
        placeholder="请输入"
        [(ngModel)]="searchKeyword"
        (keyup.enter)="getSearchRemoteList(direction, 'keyword')"
      />
    </eo-ng-search-input-group>
  </div>
  <ng-template #blankTpl><div class="h-[60px]"></div></ng-template>
</ng-template>
