form {
  width: 350px;
  padding: 28px 0 8px 0;
}

html {
  --antd-wave-shadow-color: var(--primary-color) !important;
}

.ant-input:hover {
  border-color: var(--primary-color);
}

.ant-input:focus,
.ant-input-focused {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgb(var(--primary-color), 20%);
}

button.ant-btn.ant-btn-primary,
button.ant-btn.ant-btn-primary:hover,
button.ant-btn.ant-btn-primary:focus {
  height: 40px;
  margin-top: 20px;
}

::selection {
  background: var(--primary-color);
}
