<form
  nz-form
  [nzNoColon]="true"
  nzLayout="horizontal"
  [formGroup]="validateForm"
  (ngSubmit)="login()"
  class="password-form"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入账号">
      <input
        eo-ng-input
        formControlName="username"
        placeholder="账号"
        #needAutoFocus
        autocomplete="on"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入密码">
      <div nz-row [nzGutter]="[8, 8]" nzAlign="middle">
        <div nz-col nzSpan="24">
          <input
            type="password"
            eo-ng-input
            formControlName="password"
            placeholder="密码"
            autocomplete="off"
          />
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
  <div nz-row nzJustify="center" [nzGutter]="[0, 16]">
    <div nz-col nzSpan="24">
      <button eo-ng-button nzType="primary" nzBlock [nzLoading]="loginLoading">
        登录
      </button>
    </div>
  </div>
</form>
