form {
  width: 350px;
  padding: 28px 0 8px 0;
}

.find-password {
  color: #3a84ff;
}

html {
  --antd-wave-shadow-color: #22549d !important;
}

input.ant-input:not(.w206):not(.w131) {
  width: 350px !important;
  height: 40px !important;
}

.ant-input:hover {
  border-color: #22549d;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #22549d;
  box-shadow: 0 0 0 2px rgb(#22549d, 20%);
}

button.ant-btn.ant-btn-primary,
button.ant-btn.ant-btn-primary:hover,
button.ant-btn.ant-btn-primary:focus {
  height: 40px;
  margin-top: 20px;
}

::selection {
  background: #22549d;
}
