<!--
 * @Author: MengjieYang yangmengjie@eolink.com
 * @Date: 2022-08-24 00:37:49
 * @LastEditors: MengjieYang yangmengjie@eolink.com
 * @LastEditTime: 2022-08-24 00:43:11
 * @FilePath: /apinto/src/app/layout/application/application-content/application-content.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<div class="overflow-y-hidden h-[100%] block">
  <div
    class="desc-block pl-btnbase pr-btnrbase py-btnybase border-[0px] border-b-[1px] border-solid border-BORDER"
  >
    <section class="flex items-center">
      <button
        eo-ng-button
        type="default"
        class="mr-btnbase"
        (click)="backToList()"
      >
        返回
      </button>
      <span class="font-bold truncate"
        >{{ service.appName }} ： {{ service.appDesc }}</span
      >
    </section>
  </div>
  <eo-ng-tabs [nzLinkRouter]="true" [nzOptions]="tabOptions"></eo-ng-tabs>

  <ng-template #tab1Tpl>
    <span>额外参数</span>
  </ng-template>

  <ng-template #tab2Tpl>
    <span>应用设置</span>
  </ng-template>

  <ng-template #tab3Tpl>
    <span>访问鉴权</span>
  </ng-template>
  <div class="h-[calc(100%_-_96px)]">
    <nz-spin class="h-[100%]" [nzSpinning]="service.loading">
      <router-outlet></router-outlet>
    </nz-spin>
  </div>
</div>
